figure {
    margin: 1.5em 0px;
    padding: 10px 0;
}

figcaption {
    clear:left;
    margin: 0.75em 0px;
    text-align: left;
    font-style: normal;
    line-height: 1.5em;
    font-size: 1.4rem;
}

